.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #a6a6a652;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 18px 20px 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}


.btn{
    width: 60px;
    height: 60px;
    background: #b6b6b691;
    border-radius: 50%;;
    text-align: center;
    line-height: 58px; /*пока что так*/
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}


.btn:hover{
    filter: brightness(150%);
}

.btn:active{
    filter: brightness(75%);
}



.btn.ac,
.btn.plus-minus,
.btn.percent
{
    background: #979797ce;
    color:#000
}

.btn.division,
.btn.multiply,
.btn.minus,
.btn.plus,
.btn.equal
{
    background: #fafafa94;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "ac pluc-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "zero zero comma equal";
    grid-gap: 7px;
    justify-items: center;
}

/*боль не работает расширение кнопки, скачет вверх*/
.btn.zero{
    grid-column: 1 / -3;/*вау я сам решил эту проблему*/
    width: 100%;
    border-radius: 100px;
}

.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc-screen p {
    text-align: right;
    font-size: 60px;
    margin: 0;
}

.theme{
    background-color: #a6a6a6;
    color: #000;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    border-radius: 20px;
    width: 100%;

}

.theme:hover{
    background: #000;
    color: #ff9501;
}
.theme:active{
    filter: brightness(75%);
}
